body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: gray;
    background-color: rgb(247, 247, 152);

}
li {
    font-size: 14px;
    font-style: italic;
    color:black;
    font-weight: normal;

}

a {
    color:maroon;
    text-decoration:none;
}

a:hover {
    font-weight: bold;
    text-decoration: underline;

}
a:visited {
    color: blueviolet;
}

.resumeListHeading {
    /* This edits the headings of lists */
    font-weight: bold;
    font-style: normal;

}

.underline {
    /* This underlines the text */
    text-decoration: underline;
}
.bold {font-weight: bold;}
.justify {font-style: justify;}

.homebg {
    background-image: url('../images/image45678.jpg');
    background-position: top right;
}

.box1 {
border-width: 1px;
border-style: solid;
}
.box2 {
    padding: 5px;
}
.box3 {
    margin: 50px;
}